@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,h2,h3,h4,h5,h6,hr,p,figure {
  display: block;
  font-size: 1em;
  font-weight: normal;
  margin: 0;
  border-width: 0;
}

ul, ul {
  display: block;
  margin: 0;
  padding: 0;
}

li {
  display: block;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
  "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
  monospace;
}

.page-header {
  z-index: 10000;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

@media (max-width: 99999px) {
  .max\:show {
    display: flex;
  }
  .xxxl\:show {
    display: none;
  }
  .xxl\:show {
    display: none;
  }
  .xl\:show {
    display: none;
  }
  .lg\:show {
    display: none;
  }
  .md\:show {
    display: none;
  }
  .sm\:show {
    display: none;
  }
  .xs\:show {
    display: none;
  }
  .max\:hide {
    display: none;
  }
}

@media (max-width: 2999.98px) {
  .xxxl\:show {
    display: flex;
  }
  .xxxl\:hide {
    display: none;
  }
}

@media (max-width: 1919.98px) {
  .xxl\:show {
    display: flex;
  }
  .xxl\:hide {
    display: none;
  }
}

@media (max-width: 1399.98px) {
  .xl\:show {
    display: flex;
  }
  .xl\:hide {
    display: none;
  }
}

@media (max-width: 1199.98px) {
  .lg\:show {
    display: flex;
  }
  .lg\:hide {
    display: none;
  }
}

@media (max-width: 991.98px) {
  .md\:show {
    display: flex;
  }
  .md\:hide {
    display: none;
  }
}

@media (max-width: 767.98px) {
  .sm\:show {
    display: flex;
  }
  .sm\:hide {
    display: none;
  }
}

@media (max-width: 575.98px) {
  .xs\:show {
    display: flex;
  }
  .xs\:hide {
    display: none;
  }
}

@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap");
@font-face {
  font-family: "FontAwesome";
  font-weight: normal;
  font-style: normal;
  src: url("https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.eot?v=4.3.0");
  src: url("https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.eot?#iefix&v=4.3.0")
      format("embedded-opentype"),
    url("https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.woff2?v=4.3.0")
      format("woff2"),
    url("https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.woff?v=4.3.0")
      format("woff"),
    url("https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.ttf?v=4.3.0")
      format("truetype"),
    url("https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.svg?v=4.3.0#fontawesomeregular")
      format("svg");
}
.p-ro-du-ct-content-box {
  display: flex;
  flex-direction: column;
  background-color: white; }

.p-ro-du-ct-content-box.layout {
  position: relative;
  overflow: visible;
  min-height: 844px;
  flex-grow: 1;
  margin: 0px; }

.p-ro-du-ct-group {
  display: flex; }

.p-ro-du-ct-group.layout {
  position: relative;
  overflow: visible;
  flex: 0 0 auto;
  margin: 0px; }

.p-ro-du-ct-group1 {
  display: flex;
  background-color: white;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25098); }

.p-ro-du-ct-group1.layout {
  position: relative;
  overflow: visible;
  flex-grow: 1;
  margin: 0px; }

.p-ro-du-ct-icon {
  background: var(--src) center center/contain no-repeat; }

.p-ro-du-ct-icon.layout {
  position: relative;
  height: 24px;
  width: 24px;
  min-width: 24px;
  margin: 13px 28px 13px auto; }

.p-ro-du-ct-cover-group {
  display: flex; }

.p-ro-du-ct-cover-group.layout {
  position: absolute;
  overflow: visible;
  top: 10px;
  bottom: 7px;
  min-height: 33px;
  left: 10px;
  width: 45px;
  min-width: 45px; }

.p-ro-du-ct-image {
  background: var(--src) center center/contain no-repeat; }

.p-ro-du-ct-image.layout {
  position: relative;
  height: 20px;
  width: 10.13px;
  min-width: 10.13px;
  display: block;
  margin: 6px auto 7px; }

.p-ro-du-ct-img {
  background: var(--src) center center/contain no-repeat; }

.p-ro-du-ct-img.layout {
  position: relative;
  flex: 0 0 auto;
  height: 368px;
  margin: 23px 29px 0px 28px; }



.p-ro-du-ct-flex {
  display: flex; }

.p-ro-du-ct-flex.layout {
  position: relative;
  overflow: visible;
  flex: 0 0 auto;
  width: 65px;
  min-width: 65px;
  margin: 11px auto 0px; }

.p-ro-du-ct-flex-col {
  display: flex;
  flex: 0 1 15px; }

.p-ro-du-ct-rect {
  background-color: #313131;
  border: 1px solid black;
  border-radius: 3.5px 3.5px 3.5px 3.5px; }

.p-ro-du-ct-rect.layout {
  position: relative;
  height: 7px;
  flex-grow: 1;
  margin: 0px; }

.p-ro-du-ct-flex-spacer {
  display: flex;
  flex: 0 1 10px; }

.p-ro-du-ct-rect1 {
  background-color: #f1f1f1;
  border: 1px solid #525252;
  border-radius: 3.5px 3.5px 3.5px 3.5px; }

.p-ro-du-ct-rect1.layout {
  position: relative;
  height: 7px;
  flex-grow: 1;
  margin: 0px; }

.p-ro-du-ct-rect2 {
  background-color: #f1f1f1;
  border: 1px solid #525252;
  border-radius: 3.5px 3.5px 3.5px 3.5px; }

.p-ro-du-ct-rect2.layout {
  position: relative;
  height: 7px;
  flex-grow: 1;
  margin: 0px; }

.p-ro-du-ct-gonna-shrekkosa {
  display: flex;
  align-items: center;
  justify-content: center;
  font: 700 24px/1.2 "Arial", Helvetica, Arial, serif;
  color: #313131;
  text-align: center;
  letter-spacing: 0px; }

.p-ro-du-ct-gonna-shrekkosa.layout {
  position: relative;
  flex: 0 0 auto;
  margin: 14px 89px 0px 90px; }

.p-ro-du-ct-rect3 {
  background-color: #f1f1f1; }

.p-ro-du-ct-rect3.layout {
  position: relative;
  flex: 0 0 auto;
  height: 4px;
  margin: 13px 0px 0px; }

.p-ro-du-ct-img.layout1 {
  position: relative;
  flex: 0 0 auto;
  height: 34px;
  width: 162px;
  min-width: 162px;
  margin: 19px 0px 0px 19px; }

.p-ro-du-ct-flex.layout1 {
  position: relative;
  overflow: visible;
  flex: 0 0 auto;
  margin: 25px 18px 0px 21px; }

.p-ro-du-ct-flex1-col {
  display: flex;
  flex: 0 1 50px; }

.p-ro-du-ct-medium-title-wrap {
  display: flex; }

.p-ro-du-ct-medium-title-wrap.layout {
  position: relative;
  overflow: visible;
  flex-grow: 1;
  margin: 0px; }

.p-ro-du-ct-rect4 {
  background-color: white;
  border: 2px solid #313131;
  border-radius: 5px 5px 5px 5px; }

.p-ro-du-ct-rect4.layout {
  position: absolute;
  top: 0px;
  height: 48px;
  left: 0px;
  flex-grow: 1;
  right: 0px;
  margin: 0px; }

.p-ro-du-ct-medium-title {
  display: flex;
  align-items: center;
  justify-content: center;
  font: 600 24px/1.2 "Nunito Sans", Helvetica, Arial, serif;
  color: black;
  text-align: center;
  letter-spacing: 0px; }

.p-ro-du-ct-medium-title.layout {
  position: relative;
  width: 22px;
  min-width: 22px;
  margin: 12px auto 7px; }

.p-ro-du-ct-flex1-spacer {
  display: flex;
  flex: 0 1 20px; }

.p-ro-du-ct-rect5 {
  background-color: white;
  border: 2px solid #313131;
  border-radius: 5px 5px 5px 5px; }

.p-ro-du-ct-rect5.layout {
  position: absolute;
  top: 0px;
  height: 48px;
  left: 0px;
  flex-grow: 1;
  right: 0px;
  margin: 0px; }

.p-ro-du-ct-medium-title.layout1 {
  position: relative;
  flex-grow: 1;
  margin: 12px 11px 7px 12px; }

.p-ro-du-ct-rect6 {
  background-color: white;
  border: 2px solid #313131;
  border-radius: 5px 5px 5px 5px; }

.p-ro-du-ct-rect6.layout {
  position: absolute;
  top: 0px;
  height: 48px;
  left: 0px;
  flex-grow: 1;
  right: 0px;
  margin: 0px; }

.p-ro-du-ct-medium-title.layout2 {
  position: relative;
  width: 20px;
  min-width: 20px;
  margin: 12px auto 7px; }

.p-ro-du-ct-xl-wrap {
  display: flex; }

.p-ro-du-ct-xl-wrap.layout {
  position: relative;
  overflow: visible;
  flex-grow: 1;
  margin: 0px; }

.p-ro-du-ct-rect7 {
  background-color: white;
  border: 2px solid #313131;
  border-radius: 5px 5px 5px 5px; }

.p-ro-du-ct-rect7.layout {
  position: absolute;
  top: 0px;
  height: 48px;
  left: 0px;
  flex-grow: 1;
  right: 0px;
  margin: 0px; }

.p-ro-du-ct-xl {
  display: flex;
  align-items: center;
  justify-content: center;
  font: 600 24px/1.2 "Nunito Sans", Helvetica, Arial, serif;
  color: black;
  text-align: center;
  letter-spacing: 0px; }

.p-ro-du-ct-xl.layout {
  position: relative;
  flex-grow: 1;
  margin: 12px 6.5px 7px 7.5px; }

.p-ro-du-ct-flex1-col4 {
  display: flex;
  flex: 0 1 71px; }

.p-ro-du-ct-xxl-wrap {
  display: flex; }

.p-ro-du-ct-xxl-wrap.layout {
  position: relative;
  overflow: visible;
  flex-grow: 1;
  margin: 0px; }

.p-ro-du-ct-rect8 {
  background-color: white;
  border: 2px solid #313131;
  border-radius: 5px 5px 5px 5px; }

.p-ro-du-ct-rect8.layout {
  position: absolute;
  top: 0px;
  height: 48px;
  left: 0px;
  flex-grow: 1;
  right: 0px;
  margin: 0px; }

.p-ro-du-ct-xxl {
  display: flex;
  align-items: center;
  justify-content: center;
  font: 600 24px/1.2 "Nunito Sans", Helvetica, Arial, serif;
  color: black;
  text-align: center;
  letter-spacing: 0px; }

.p-ro-du-ct-xxl.layout {
  position: relative;
  flex-grow: 1;
  margin: 12px 8.79px 7px 10.21px; }

.p-ro-du-ct-rect9 {
  background-color: #f1f1f1; }

.p-ro-du-ct-rect9.layout {
  position: relative;
  flex: 0 0 auto;
  height: 4px;
  margin: 17px 0px 0px; }

.p-ro-du-ct-flex.layout3 {
  position: relative;
  overflow: visible;
  flex: 0 0 auto;
  margin: 17px 0px 0px 10px; }

.p-ro-du-ct-flex2-col {
  display: flex;
  flex: 0 1 182px; }

.p-ro-du-ct-flex3 {
  display: flex;
  flex-direction: column; }

.p-ro-du-ct-flex3.layout {
  position: relative;
  overflow: visible;
  flex-grow: 1;
  margin: 0px 0px 15px; }

.p-ro-du-ct-medium-title3-box.layout {
  position: relative;
  margin: 0px; }

.p-ro-du-ct-medium-title3 {
  font: 24px/1.2 "Nunito Sans", Helvetica, Arial, serif;
  color: #313131;
  letter-spacing: 0px; }

.p-ro-du-ct-medium-title3-span0 {
  font: 1em/1.2 "Nunito Sans", Helvetica, Arial, serif;
  color: #313131ff;
  letter-spacing: 0px; }

.p-ro-du-ct-medium-title3-span1 {
  font: 700 1em/1.2 "Nunito Sans", Helvetica, Arial, serif;
  color: #313131ff;
  letter-spacing: 0px; }

.p-ro-du-ct-medium-title3-span2 {
  font: 700 1.25em/1.2 "Nunito Sans", Helvetica, Arial, serif;
  color: #313131ff;
  letter-spacing: 0px; }

.p-ro-du-ct-medium-title3-span3 {
  font: 700 1.25em/1.329 "Nunito Sans", Helvetica, Arial, serif;
  color: #313131ff;
  letter-spacing: 0px; }

.p-ro-du-ct-flex.layout2 {
  position: relative;
  overflow: visible;
  margin: 20px 0px 0px; }

.p-ro-du-ct-flex4-col {
  display: flex;
  flex: 0 1 30px; }

.p-ro-du-ct-group2 {
  display: flex;
  background-color: rgba(225, 225, 225, 0.403922);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25098);
  border-radius: 10px 10px 10px 10px; }

.p-ro-du-ct-group2.layout {
  position: relative;
  overflow: visible;
  height: 30px;
  flex-grow: 1;
  margin: 0px; }

.p-ro-du-ct-icon1 {
  background: var(--src) center center/contain no-repeat;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25098)); }

.p-ro-du-ct-icon1.layout {
  position: relative;
  height: 30px;
  width: 30px;
  min-width: 30px;
  margin: 0px; }

.p-ro-du-ct-flex4-spacer {
  display: flex;
  flex: 0 1 15px; }

.p-ro-du-ct-highlights {
  font: 600 18px/1.2 "Nunito Sans", Helvetica, Arial, serif;
  color: #313131;
  letter-spacing: 0.9px; }

.p-ro-du-ct-highlights.layout {
  position: relative;
  margin: 2.5px 0px 5.5px; }

.p-ro-du-ct-flex4-spacer1 {
  display: flex;
  flex: 0 1 9px; }

.p-ro-du-ct-group3 {
  display: flex;
  background-color: rgba(225, 225, 225, 0.403922);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25098);
  border-radius: 10px 10px 10px 10px; }

.p-ro-du-ct-group3.layout {
  position: relative;
  overflow: visible;
  flex-grow: 1;
  margin: 0px; }

.p-ro-du-ct-icon.layout1 {
  position: relative;
  height: 14px;
  width: 14px;
  min-width: 14px;
  display: block;
  margin: 8px auto; }

.p-ro-du-ct-flex4-spacer2 {
  display: flex;
  flex: 0 1 30px; }

.p-ro-du-ct-flex4-spacer3 {
  display: flex;
  flex: 0 1 30px; }

.p-ro-du-ct-flex2-spacer {
  display: flex;
  flex: 0 1 12px; }

.p-ro-du-ct-flex2-col1 {
  display: flex;
  flex: 0 1 186px; }

.p-ro-du-ct-cover-group1 {
  display: flex;
  background: var(--src) center center/contain no-repeat;
  font: 600 24px/1.2 "Nunito Sans", Helvetica, Arial, serif;
  color: white;
  letter-spacing: 0px;
  justify-content: center;
  padding: 35.999997905999294px 48.864013671875px 35.000002094000706px 33.13598763946641px; }

.p-ro-du-ct-cover-group1.layout {
  position: relative;
  overflow: visible;
  min-height: 100px;
  flex-grow: 1;
  margin: 6px 0px 0px; }

.p-ro-du-ct-rect10 {
  background-color: #f1f1f1; }

.p-ro-du-ct-rect10.layout {
  position: relative;
  flex: 0 0 auto;
  height: 4px;
  margin: 5px 0px 0px; }

.p-ro-du-ct-highlights1 {
  font: 700 18px/1.2 "Nunito Sans", Helvetica, Arial, serif;
  color: #313131;
  letter-spacing: 0.9px; }

.p-ro-du-ct-highlights1.layout {
  position: relative;
  flex: 0 0 auto;
  margin: 14px 8px 10px; }

